@font-face {
    font-family:'Grtsk-Tera';
	src:url('../fonts/Grtsk-Tera-Regular.woff2') format('woff2'),
		url('../fonts/Grtsk-Tera-Regular.woff') format('woff');

}

@font-face {
    font-family:'Grtsk-Tera-bold';
	src:url('../fonts/Grtsk-Tera-Bold.woff2') format('woff2'),
		url('../fonts/Grtsk-Tera-Boldd.woff') format('woff');

}
@font-face {
    font-family:'Grtsk-Tera-Medium';
	src:url('../fonts/Grtsk-Tera-Bkslnt-Medium.woff2') format('woff2'),
		url('../fonts/Grtsk-Tera-Bkslnt-Medium.woff') format('woff');

}