* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
  font-family: "Grtsk-Tera";
}
a {
  text-decoration: none;
  // color: initial;
}
.header {
  background-color: #bebebe;
  height: 200vh;
  padding-top: 10px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.running-text {
  position: relative;
  top: 290px;
  font-family: "Grtsk-Tera-bold";
  font-size: 52px;
  color: #bebebe;
  text-shadow: -0 -1px 0 #b1b1b1, 0 -1px 0 #b1b1b1, -0 1px 0 #b1b1b1,
    0 1px 0 #b1b1b1, -1px -0 0 #b1b1b1, 1px -0 0 #b1b1b1, -1px 0 0 #b1b1b1,
    1px 0 0 #b1b1b1, -1px -1px 0 #b1b1b1, 1px -1px 0 #b1b1b1, -1px 1px 0 #b1b1b1,
    1px 1px 0 #b1b1b1, -1px -1px 0 #b1b1b1, 1px -1px 0 #b1b1b1,
    -1px 1px 0 #b1b1b1, 1px 1px 0 #b1b1b1;
}
marquee {
  transform: rotate(332deg);
  width: 141%;
  position: absolute;
  top: 151px;
  left: -351px;
}
.text-deg {
  transform: rotate(150deg);
}
.next-text {
  // margin-bottom:60px;
  transform: rotate(330deg);
  margin-left: 148px;
}
.logo-img {
  padding: 10px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
}
.logo-link {
  margin-left: 25px;
  margin-top: 12px;
  margin-right: 10px;
  cursor: pointer;
}
.test {
  // cursor:url('../images/sprite.svg#red'), auto;
  margin-bottom: 300px;
  width: 100px;
  height: 100px;
}

.language {
  font-size: 13px;
  margin-right: 10px;
  color: #e1e1e1;
  &:hover {
    color: #ffffff;
  }
}
.language-wrapper {
  display: none;
}
.language-active {
  display: block;
  position: absolute;
  left: 90px;
}

.header-logo {
  // cursor: pointer;
  font-size: 28px;
  font-family: "Grtsk-Tera-bold";
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  padding-right: 60px;
  position: relative;
}
.header-logo-span {
  display: inline-block;
  position: relative;
  color: #000000;
  padding-right: 5px;
  &::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #bebebd;
    text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000,
      0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000,
      1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
      -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000,
      1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    // transform: rotate(180deg);
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 67px;
  position: relative;
}

//circle
.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  justify-content: space-between;
}
.circle {
  width: 578px;
  height: 578px;
  background-color: #ffcb46;
  border-radius: 50%;
  filter: blur(40px);

  cursor: url("../images/circle-cursor.png"), pointer;
}
.circle-text {
  font-family: "Grtsk-Tera-bold";
  font-size: 82px;
  position: absolute;
  top: 150px;
  left: 19%;
  z-index: 1;
  text-align: center;
  color: #373737;
  cursor: url("../images/circle-cursor.png"), pointer;
  // transform: translate(-109px);
}
.text-circle-scroll {
  color: #fff;
  font-family: "Grtsk-Tera";
  font-weight: 100;
  position: relative;
  font-size: 14px;
  top: -150px;
  left: 205px;
  letter-spacing: 5px;
  &::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
}

.circle-title {
  transform: rotate(270deg);
  font-family: "Grtsk-Tera-bold";
  margin-bottom: 115px;
  margin-left: -10px;
  margin-right: -10px;
  color: #000000;
  position: relative;
  &::before {
    content: "";
    color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    top: 20px;
    width: 0%;
    left: 0;
  }
}
.circle-title:hover::before {
  width: 100%;
  transition: 1s;
}
.circle-title:hover {
  color: #ffffff;
}
.circle-title--size {
  transform: rotate(90deg);
}
.circle-title--footer {
  transform: rotate(0deg);
  text-align: center;
  margin-top: -25px;
}
.circle-title-link {
  display: flex;
  justify-content: center;
}

.hamburger-menu {
  display: none;
}
.circle-text-br {
  display: none;
}

@import "fonts";

@media (max-width: 1440px) {
  .running-text {
    top: 232px;
  }
  .header-wrapper {
    margin-bottom: 107px;
  }
  .circle-title {
    margin-bottom: 225px;
  }
  .text-circle-scroll {
    top: -190px;
  }
  .circle-title--footer {
    margin-top: -66px;
  }
}
@media (max-width: 1150px) {
  .circle-text {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1024px) {
  .circle-text {
    font-size: 58px;
  }
  .header {
    padding-top: 0;
  }
  .logo-link {
    margin-left: 15px;
    margin-top: 8px;
  }
  .header-logo {
    padding-right: 50px;
  }
  .header-wrapper {
    margin-bottom: 99px;
  }
  .circle-title {
    margin-left: -17px;
    margin-right: -17px;
    margin-bottom: 266px;
  }
  .running-text {
    font-size: 42px;
    top: 318px;
  }
  .text-deg {
    transform: rotate(144deg);
  }
  .next-text {
    transform: rotate(323deg);
    margin-left: 103px;
  }
  marquee {
    width: 150%;
    position: absolute;
    top: -51px;
    left: -169px;
  }
  .text-circle-scroll {
    font-size: 18px;
    top: -254px;
    left: 160px;
  }
  .text-circle-scroll {
    font-size: 14px;
  }
  .circle-title--footer {
    margin-top: -133px;
  }
}
@media (max-width: 768px) {
  .header-logo {
    font-size: 23px;
    margin-top: 22px;
    padding-left: 0px;
  }
  .logo-link {
    margin-left: 15px;
    margin-top: 13px;
  }
  .circle-text {
    word-wrap: break-word;
    left: 102px;
    font-size: 58px;
    line-height: 110%;
    top: 193px;
    letter-spacing: 5.6px;
  }
  .header-wrapper {
    margin-bottom: 161px;
  }
  .text-circle-scroll {
    top: -165px;
    left: 144px;
  }
  .text-deg {
    transform: rotate(127deg);
  }
  .next-text {
    transform: rotate(307deg);
    margin-left: 80px;
  }
  .running-text {
    top: 457px;
  }
  .circle-text-br {
    display: block;
  }
  .circle-title {
    margin-bottom: 117px;
  }
  .circle-title--footer {
    margin-top: 67px;
  }
}
@media(max-width:515px){
  .language-active{
    left: 57px;
  }
}
@media (max-width: 414px) {
  .header-logo {
    font-size: 20px;
    padding-left: 35px;
    margin-top: 21px;
  }
  .circle-text {
    font-size: 36px;
    top: 106px;
    width: 314px;
    left: 49px;
    letter-spacing: 0;
  }
  .circle {
    width: 294px;
    height: 294px;
    position: relative;
    top: 30px;
  }
  .running-text {
    font-size: 28px;
  }
  .header-wrapper {
    margin-bottom: 145px;
  }
  .circle-title {
    display: none;
  }
  .circle-item {
    margin-left: auto;
    margin-right: auto;
  }
  .hamburger-menu {
    display: block;
    width: 22px;
    height: 30px;
    margin-right: 15px;
    span {
      display: inline-block;
      width: 100%;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #000000;
      }
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #000000;
        top: 9px;
      }
    }
  }
  .logo-img {
    padding: 8px;
  }
  .text-circle-scroll {
    top: -48px;
    left: 75px;
    font-size: 11px;
  }

  .running-text {
    top: 472px;
  }
  .text-deg {
    transform: rotate(119deg);
  }
  .next-text {
    transform: rotate(299deg);
    margin-left: 50px;
  }
  marquee {
    width: 199%;
    position: absolute;
    top: -129px;
    left: -231px;
  }
  .language-active{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 50px;
    justify-content: space-between;
  }
}
@media (max-width: 375px) {
  .circle-text {
    font-size: 36px;
    top: 73px;
    width: 314px;
    left: 30px;
    letter-spacing: 0;
  }
  .circle {
    top: 11px;
  }
  .text-circle-scroll {
    top: -86px;
    left: 69px;
    font-size: 10px;
  }
}
